@model IEnumerable<AquariumForum.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--  Button to Navigate to the Comment Creation Page -->
<p>
    <a asp-action="Create">Create New</a>
</p>
<!--  Table to Display All Comments -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscussionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)// Loop through all comments and display them
{
        <tr>
            <td>
                    <!--  Displays Comment Content -->
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                    <!--  Displays Formatted Comment Date -->
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                    <!--  Link to the Discussion Where the Comment Belongs -->
                @Html.DisplayFor(modelItem => item.DiscussionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
